<template name="accueilTemplate">


    <div class="container">
			<div class="row accueilBlock">
				
				<div class="col-md-5">
					<div class="blog-header">
						<h1 class="blog-title">Morning 5</h1>
						<p class="lead blog-description">Take five minutes in the morning, enjoy a hot coffee and plan your day ahead</p>
						<ul class="pager">
								<li><a href="/sign-up">Begin here</a></li>
								
						</ul>
					</div>
				</div>	
				<div class="col-md-7">	
					<img src="billboard-macbook1.png" width="600">
				</div>	
			
			</div>
		</div>

     

    </div><!-- /.container -->

    
	
	
	
</template>