<template name="accueilTasks">
	<div class="container  ">
		<div class="row dateClass well">
			<div class="col-md-4">
        <a href="/todos/{{daybefore}}" class="pull-right"> ---day before</a>
			</div>
				<div class="col-md-4">
					<h3 class="text-center">Today : {{ today }}</h3>
			</div>
				<div class="col-md-4">
					<a href="/todos/{{dayafter}}" class="pull-left">tomorrow---</a>
			</div>
		</div>
		<form role="form" class="todoForm">
			<div class="form-group">
				
				<input type="text" class="form-control taskClass input-lg" id="task1" placeholder="New Task">
			</div>
		</form>
    
    
    <div class="progress progress-striped">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{advancement}}%">
    <span class="sr-only">80% Complete (danger)</span>
  </div>
</div>
    
    
		<div class="todoBlock">
			{{#each tasks}}
        {{#if doneTask}}
                <div class="row todoItem">
                  <div class="col-md-1">
                  
                        <div class="checkbox3"></div>
          
                  </div>		
                  <div class="col-md-10">
                    {{#if editing}}
                      <div class="edit">
                        <input  class="form-control input-lg input-ctrl" id="todo-input" type="text" value="{{textTask}}" />
                      </div>
                    {{else}}
                      <div class="display">
                        
												<div class="todo-text  doneItem">{{textTask}}</div>
												<p class="datePetit">{{submittedRealDate }}</p>
                      </div>
                    {{/if}}
                    </div>
                      <div class="col-md-1">
                  
                        <a href="" class="destroy actions">suppr.</a>
          
                          
                  </div>	
                  
                </div>	
         {{else}}  
               <div class="row todoItem">
                  <div class="col-md-1">
                 
                    <div class="checkbox2"></div>
          
                  </div>		
                  <div class="col-md-9">
                    {{#if editing}}
                      <div class="edit">
                        <input  class="form-control input-lg input-ctrl" id="todo-input" type="text" value="{{textTask}}" />
                      </div>
                    {{else}}
                      <div class="display">
                        
                        <div class="todo-text">{{textTask}}</div>
												<p class="datePetit">{{submittedRealDate }}</p>
                      </div>
                    {{/if}}
                    </div>
                      <div class="col-md-2">
                  			<span class="glyphicon glyphicon-remove destroy"></span>
												<span class="glyphicon glyphicon-circle-arrow-right action"></span>
												
         
                          
                  </div>	
                  
                </div>	
      
       {{/if}}
			{{/each}}
		</div>
	</div>
</template>